<html>
    <head>
        <title>Yes DSS: Ending Housing Discrimination</title>
    </head>
    <body>
        <div>
            <h1><a href="">Yes DSS</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Who does no DSS discriminate against?</a></h2>
            <p>A description of who is discriminated against.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Action</a></h2>
            <p>An outline of action that people can take.</p>
        </div>
    </body>
</html>